.markdown {
  @apply text-base leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-2xl mt-12 mb-4 leading-snug border-solid border-gray-200 border-b;
}

.markdown h3 {
  @apply text-xl mt-8 mb-4 leading-snug;
}

.markdown a {
  @apply underline;
}

.markdown ol {
  @apply list-decimal pl-6;
}

.markdown ul {
  @apply list-disc pl-6;
}

.markdown blockquote {
  @apply px-4 border-solid border-gray-500 border-l-4;
  color: #6a737d;
}

.markdown pre {
  @apply bg-gray-200 p-2 whitespace-pre-wrap text-sm;
}